@font-face {
  font-family: 'controls';
  src: url('fonts/controls.eot');
  src: url('fonts/controls.eot?#iefix') format('embedded-opentype'), url('fonts/controls.woff') format('woff'), url('fonts/controls.ttf') format('truetype'), url('fonts/controls.svg?#controls') format('svg');
  font-weight: normal;
  font-style: normal; }

.ivp-hide *, .ivp-btn span, .ivp-control-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.ivp-default-theme .ivp-hotspot .ivp-btn--close {
  height: 0;
  width: 0;
  overflow: hidden; }

.ivp-hide {
  visibility: hidden;
  display: none; }

.ivp-btn--big-play, .ivp-error p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.ivp-btn--play, .ivp-btn--mute, .ivp-time-controls, .ivp-time-divider {
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center; }

.ivp-controls {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: inherit; }

.ivp-default-theme .ivp-card-cta {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent; }

[class*='ivp-'] h1, [class*='ivp-'] h2, [class*='ivp-'] h3, [class*='ivp-'] h4, [class*='ivp-'] h5, [class*='ivp-'] h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal; }

[class*='ivp-'] > p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: '1.2'; }

[class*='ivp-'] > a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: '1.2';
  text-decoration: none; }

[class*='ivp-'] > img {
  max-width: 100%;
  display: block; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
.ivp-normie {
  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  /**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
  /* Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  /* Text-level semantics
     ========================================================================== */
  /**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
  /**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
  /**
   * Address styling not present in Safari and Chrome.
   */
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
  /**
   * Address styling not present in IE 8/9.
   */
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  /* Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */
  /**
   * Correct overflow not hidden in IE 9/10/11.
   */
  /* Grouping content
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari.
   */
  /**
   * Address differences between Firefox and other browsers.
   */
  /**
   * Contain overflow in all browsers.
   */
  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */
  /* Forms
     ========================================================================== */
  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  /**
   * Re-set default cursor for disabled elements.
   */
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  /**
   * Define consistent border, margin, and padding.
   */
  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  /* Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */ }
  .ivp-normie * {
    box-sizing: border-box; }
  .ivp-normie :after, .ivp-normie :before {
    box-sizing: border-box; }
  .ivp-normie article, .ivp-normie aside, .ivp-normie details, .ivp-normie figcaption, .ivp-normie figure, .ivp-normie footer, .ivp-normie header, .ivp-normie hgroup, .ivp-normie main, .ivp-normie menu, .ivp-normie nav, .ivp-normie section, .ivp-normie summary {
    display: block; }
  .ivp-normie audio, .ivp-normie canvas, .ivp-normie progress, .ivp-normie video {
    display: block;
    vertical-align: baseline;
    /* 2 */ }
  .ivp-normie audio:not([controls]) {
    display: none;
    height: 0; }
  .ivp-normie [hidden], .ivp-normie template {
    display: none; }
  .ivp-normie a {
    background-color: transparent; }
  .ivp-normie a:active, .ivp-normie a:hover {
    outline: 0; }
  .ivp-normie abbr[title] {
    border-bottom: 1px dotted; }
  .ivp-normie b, .ivp-normie strong {
    font-weight: bold; }
  .ivp-normie dfn {
    font-style: italic; }
  .ivp-normie h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  .ivp-normie mark {
    background: #ff0;
    color: #000; }
  .ivp-normie small {
    font-size: 80%; }
  .ivp-normie sub, .ivp-normie sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .ivp-normie sup {
    top: -0.5em; }
  .ivp-normie sub {
    bottom: -0.25em; }
  .ivp-normie img {
    border: 0; }
  .ivp-normie svg:not(:root) {
    overflow: hidden; }
  .ivp-normie figure {
    margin: 1em 40px; }
  .ivp-normie hr {
    box-sizing: content-box;
    height: 0; }
  .ivp-normie pre {
    overflow: auto; }
  .ivp-normie code, .ivp-normie kbd, .ivp-normie pre, .ivp-normie samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  .ivp-normie button, .ivp-normie input, .ivp-normie optgroup, .ivp-normie select, .ivp-normie textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }
  .ivp-normie button {
    overflow: visible; }
  .ivp-normie button, .ivp-normie select {
    text-transform: none; }
  .ivp-normie button, .ivp-normie html input[type="button"], .ivp-normie input[type="reset"], .ivp-normie input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }
  .ivp-normie button[disabled], .ivp-normie html input[disabled] {
    cursor: default; }
  .ivp-normie button::-moz-focus-inner, .ivp-normie input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .ivp-normie input {
    line-height: normal; }
  .ivp-normie input[type="checkbox"], .ivp-normie input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .ivp-normie input[type="number"]::-webkit-inner-spin-button, .ivp-normie input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  .ivp-normie input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    /* 2 */
    box-sizing: content-box; }
  .ivp-normie input[type="search"]::-webkit-search-cancel-button, .ivp-normie input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .ivp-normie fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .ivp-normie legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .ivp-normie textarea {
    overflow: auto; }
  .ivp-normie optgroup {
    font-weight: bold; }
  .ivp-normie table {
    border-collapse: collapse;
    border-spacing: 0; }
  .ivp-normie td, .ivp-normie th {
    padding: 0; }

.ivp-btn {
  font-family: 'controls';
  font-size: 14px;
  line-height: 1.7;
  font-weight: normal;
  cursor: pointer;
  speak: none;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .ivp-btn:hover {
    color: #fff; }

.ivp-btn--play {
  width: 5.5%;
  margin-right: 0.5%; }

.ivp-btn--play div:before {
  content: '\0070'; }

.ivp-btn--playing > div:before {
  content: '\0073'; }

.ivp-btn--scrubbing > div:before {
  content: '\0073'; }

.ivp-btn--big-play {
  width: 100%;
  font-size: 6em;
  color: #fff;
  border-radius: 50px; }
  .ivp-btn--big-play:focus {
    outline: none; }
  .ivp-btn--big-play > div {
    cursor: pointer;
    text-align: center; }

.ivp-btn--big-play > div:before {
  content: '\006F'; }

.ivp-btn--mute {
  width: 5.5%;
  float: right; }

.ivp-btn--mute > div:before {
  content: '\0037'; }

.ivp-btn--mute-muted > div:before {
  content: '\0035'; }

.ivp-btn--replay {
  width: 8%;
  display: none; }

.ivp-btn--close > div:before {
  content: '\0063'; }

.ivp-btn--stop {
  display: none; }

.ivp-container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto; }

.ivp-row {
  margin-right: -20px;
  margin-left: -20px; }

.ivp-container:before, .ivp-row:before, .ivp-container:after, .ivp-row:after {
  display: table;
  content: " "; }

.ivp-container:after, .ivp-row:after {
  clear: both; }

[class*='ivp-col-'] {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px; }

.ivp-col-1 {
  width: 8.3333333333%; }

.ivp-col-2 {
  width: 16.6666666667%; }

.ivp-col-3 {
  width: 25%; }

.ivp-col-4 {
  width: 33.3333333333%; }

.ivp-col-5 {
  width: 41.6666666667%; }

.ivp-col-6 {
  width: 50%; }

.ivp-col-7 {
  width: 58.3333333333%; }

.ivp-col-8 {
  width: 66.6666666667%; }

.ivp-col-9 {
  width: 75%; }

.ivp-col-10 {
  width: 83.3333333333%; }

.ivp-col-11 {
  width: 91.6666666667%; }

.ivp-col-12 {
  width: 100%; }

.ivp-col-pull-1 {
  right: 8.3333333333%; }

.ivp-col-pull-2 {
  right: 16.6666666667%; }

.ivp-col-pull-3 {
  right: 25%; }

.ivp-col-pull-4 {
  right: 33.3333333333%; }

.ivp-col-pull-5 {
  right: 41.6666666667%; }

.ivp-col-pull-6 {
  right: 50%; }

.ivp-col-pull-7 {
  right: 58.3333333333%; }

.ivp-col-pull-8 {
  right: 66.6666666667%; }

.ivp-col-pull-9 {
  right: 75%; }

.ivp-col-pull-10 {
  right: 83.3333333333%; }

.ivp-col-pull-11 {
  right: 91.6666666667%; }

.ivp-col-pull-12 {
  right: 100%; }

.ivp-col-pull-gutter {
  padding-left: 0; }

.ivp-col-pull-gutters {
  padding-left: 0;
  padding-right: 0; }

.ivp-widget {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden; }

.ivp-playback {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #a3a3a3; }

.ivp-video {
  position: relative; }
  .ivp-video object.invodo-swf {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important; }
  .ivp-video div[id*="InvodoInPlayer_"] {
    float: none !important;
    display: block !important;
    position: static !important;
    width: inherit !important;
    height: inherit !important; }

.ivp-video video {
  width: 100%; }

.ivp-video {
  pointer-events: none; }

.ivp-poster, .ivp-endscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; }

.ivp-poster {
  z-index: 5; }

.ivp-endscreen {
  z-index: 4; }

.ivp-screen {
  position: relative;
  height: 100%;
  width: 100%; }

.ivp-controls {
  position: relative;
  width: 100%;
  height: 32px;
  color: #fff;
  background: #262526;
  font-size: 13px;
  z-index: 4; }

.ivp-player-off .ivp-controls {
  pointer-events: none; }

.ivp-control-progress {
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  opacity: 1; }

.ivp-control-progress .ivp-progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #58595b;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: .25s -webkit-transform ease-in;
          transition: .25s transform ease-in; }

.ivp-control-progress .ivp-progress-time {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  -webkit-transform: translateX(.2%);
      -ms-transform: translateX(.2%);
          transform: translateX(.2%);
  background: #E6E7E8; }

.ivp-control-progress .ivp-progress-time:after {
  position: absolute;
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  right: -9px;
  top: -4px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #fff;
  -webkit-transition: -webkit-transform .15s ease-in .1s, background .15s ease-in, box-shadow .15s ease-in;
          transition: transform .15s ease-in .1s, background .15s ease-in, box-shadow .15s ease-in;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  box-shadow: 0px 0px 4px 1px rgba(137, 137, 137, 0.43); }

.ivp-control-progress.scrubbing .ivp-progress-time:after, .ivp-control-progress:hover .ivp-progress-time:after {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(88, 89, 91, 0.5); }

.ivp-player-inactive .ivp-control-progress .ivp-progress-bar {
  -webkit-transform: scale(1, .3);
      -ms-transform: scale(1, .3);
          transform: scale(1, .3); }

.ivp-player-inactive .ivp-control-progress .ivp-progress-time:after {
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform .25s ease-in, background .15s ease-in, box-shadow .15s ease-in;
          transition: transform .25s ease-in, background .15s ease-in, box-shadow .15s ease-in; }

.ivp-controls .ivp-btn {
  line-height: 2.35; }
  .ivp-controls .ivp-btn > div {
    height: 100%; }

.ivp-control-value {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  cursor: default; }

.ivp-time-controls, .ivp-time-divider {
  line-height: 2.45; }
  .ivp-time-controls > div, .ivp-time-divider > div {
    height: 100%; }

.ivp-current-time {
  color: #fff; }

.ivp-duration {
  color: #939598; }

.ivp-time-divider {
  color: #646464;
  padding: 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  cursor: default; }

.ivp-remaining-time {
  display: none; }

.ivp-hotspots {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none; }

[class*="ivp-hotspot-container--"] {
  position: absolute;
  width: 100%;
  height: 100%; }

.ivp-hotspot {
  cursor: pointer;
  display: block;
  visibility: hidden; }

.ivp-hotspot {
  pointer-events: auto; }

.ivp-hotspot--firefly {
  position: absolute;
  width: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0; }

.ivp-cards {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%; }

.ivp-card {
  position: absolute;
  z-index: 3;
  visibility: hidden;
  display: block;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  overflow: hidden; }

.ivp-cards {
  pointer-events: none; }

.ivp-cards.ivp-cards-enabled {
  pointer-events: auto; }

.ivp-error {
  height: 320px;
  background: black;
  color: white;
  text-align: center; }

.ivp-default-theme .ivp-poster {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100% auto; }
.ivp-default-theme .ivp-endscreen {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100% auto; }

.ivp-default-theme .ivp-card h3 {
  font-size: 25px;
  font-weight: 300;
  word-spacing: -2px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
.ivp-default-theme .ivp-card p {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
.ivp-default-theme .ivp-card a {
  color: #fff; }
.ivp-default-theme .ivp-card .ivp-card-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 9px; }
.ivp-default-theme .ivp-card-content {
  background: #58595B;
  color: #fff; }
.ivp-default-theme .ivp-card-cta {
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 12px;
  font-weight: 500; }
.ivp-default-theme .ivp-card-cta--primary {
  background: #9CCC3D;
  border-color: #9CCC3D;
  padding-right: 8px; }
  .ivp-default-theme .ivp-card-cta--primary:hover {
    background-color: #7fb248;
    border-color: #7fb248; }
.ivp-default-theme .ivp-card-cta--secondary {
  background: #A7A9AC;
  border-color: #A7A9AC; }
  .ivp-default-theme .ivp-card-cta--secondary:hover {
    background-color: #939598;
    border-color: #939598; }
.ivp-default-theme .ivp-card-enabled {
  visibility: visible !important; }
.ivp-default-theme .ivp-card--medium .ivp-card-text {
  -webkit-transform: translateY(4%);
      -ms-transform: translateY(4%);
          transform: translateY(4%);
  -webkit-transition: -webkit-transform .25s;
          transition: transform .25s; }
.ivp-default-theme .ivp-card-enabled .ivp-card--medium .ivp-card-text {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%); }
.ivp-default-theme .ivp-card-enabled.ivp-card-removing .ivp-card--medium .ivp-card-text {
  -webkit-transform: translateY(4%);
      -ms-transform: translateY(4%);
          transform: translateY(4%);
  -webkit-transition: -webkit-transform .25s;
          transition: transform .25s; }
.ivp-default-theme .ivp-cards {
  background: none;
  -webkit-transition: background .25s ease-in-out 0;
          transition: background .25s ease-in-out 0; }
.ivp-default-theme .ivp-cards-enabled {
  background: rgba(0, 0, 0, 0.4); }

.ivp-default-theme .ivp-card .ivp-btn--close {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  top: 4px;
  right: 6px;
  color: #a7a9ac; }
  .ivp-default-theme .ivp-card .ivp-btn--close:hover {
    color: #58595b; }
.ivp-default-theme .ivp-card .ivp-card-cta--primary:after {
  text-transform: none !important;
  font-family: 'controls';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\0061';
  color: #fff;
  margin-left: 5px;
  padding-top: 3px;
  display: block;
  float: right; }
.ivp-default-theme .ivp-card .ivp-card-cta--secondary {
  background-position: center right;
  background-repeat: no-repeat;
  color: #fff; }

.ivp-default-theme .ivp-card--large {
  width: 560px;
  height: 440px; }
  .ivp-default-theme .ivp-card--large h3 {
    margin: 28px 0 0 0; }
  .ivp-default-theme .ivp-card--large p {
    font-size: 12.25px;
    line-height: 1.45;
    margin: 0 0 10px 0; }
  .ivp-default-theme .ivp-card--large p:first-of-type {
    margin-top: 14px; }
  .ivp-default-theme .ivp-card--large .ivp-card-ctas {
    margin-top: 14px; }
  .ivp-default-theme .ivp-card--large .ivp-card-cta {
    display: table; }
  .ivp-default-theme .ivp-card--large .ivp-btn--close {
    color: #a7a9ac; }
    .ivp-default-theme .ivp-card--large .ivp-btn--close:hover {
      color: #fff; }

.ivp-default-theme .ivp-card--medium {
  width: 320px;
  height: 440px;
  background: #58595B; }
  .ivp-default-theme .ivp-card--medium h3 {
    margin: 16px 0 0; }
  .ivp-default-theme .ivp-card--medium p {
    font-size: 12.25px;
    line-height: 1.45;
    margin: 12px 0 0; }
  .ivp-default-theme .ivp-card--medium .ivp-card-ctas {
    margin-top: 14px; }
  .ivp-default-theme .ivp-card--medium .ivp-card-cta:first-of-type {
    margin-right: 10px; }
  .ivp-default-theme .ivp-card--medium .ivp-btn--close {
    color: #a7a9ac; }
    .ivp-default-theme .ivp-card--medium .ivp-btn--close:hover {
      color: #58595b; }

.ivp-default-theme .ivp-hotspot {
  color: #fff;
  background: #4d4d4f;
  padding: 0 0 0 15px;
  border-radius: 2px; }
.ivp-default-theme .ivp-hotspot-title {
  font-size: 13.5px;
  padding: 9px 15px 9px 2px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
.ivp-default-theme .ivp-hotspot-icon {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  height: 30px;
  width: 30px; }
  .ivp-default-theme .ivp-hotspot-icon:before {
    content: ' ';
    position: absolute;
    background: #4d4d4f;
    height: 15px;
    width: 15px;
    -webkit-transform: translateY(50%) translateX(50%);
        -ms-transform: translateY(50%) translateX(50%);
            transform: translateY(50%) translateX(50%); }
  .ivp-default-theme .ivp-hotspot-icon:after {
    position: absolute;
    font-family: 'controls';
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\0068';
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(137, 137, 137, 0.43);
    border-radius: 50%; }

.ivp-hotspot--notify {
  overflow: hidden;
  height: 0; }

.ivp-default-theme .ivp-hotspot-container--notify {
  width: 300px;
  right: 5px;
  top: 2.5%; }
.ivp-default-theme .ivp-hotspot--notify {
  cursor: default;
  background: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
  height: 65px;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center; }
.ivp-default-theme .ivp-notification-inside {
  cursor: pointer;
  background: #4d4d4f;
  height: 55px;
  overflow: hidden;
  margin: 5px 0;
  border-radius: 2px; }
  .ivp-default-theme .ivp-notification-inside:hover {
    background: #353537; }
    .ivp-default-theme .ivp-notification-inside:hover .ivp-notification-learn-more p, .ivp-default-theme .ivp-notification-inside:hover .ivp-notification-learn-more p:after {
      color: #9CCC3D; }
.ivp-default-theme .ivp-hotspot--notify .ivp-notification-image {
  width: 25%;
  float: left;
  margin-right: 10px; }
.ivp-default-theme .ivp-hotspot--notify .ivp-notification-text {
  margin: 5px 0; }
  .ivp-default-theme .ivp-hotspot--notify .ivp-notification-text > h3 {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    word-spacing: -1px;
    font-weight: 300; }

.ivp-notification-learn-more p {
  margin: 0;
  font-size: .4rem;
  text-transform: uppercase;
  letter-spacing: .5px; }
  .ivp-notification-learn-more p:after {
    text-transform: none !important;
    font-family: 'controls';
    font-size: 7px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\0061';
    color: #fff;
    margin-left: 3px; }
