// ==========================================================================
//
// Cards
//
//

// Card container
.ivp-cards {
	position: absolute;
	z-index: $zindex-boost + 3;
	top: 0;
	width: 100%;
	height: 100%;
}

// Card
.ivp-card {
	position: absolute;
	z-index: $zindex-boost + 3;
	visibility: hidden;
	display: block;
	user-select: auto;
	overflow: hidden;
}
// Active card
.ivp-card-enabled {
	// pointer-events: all;
}

// If the card container is not active disable the pointer events
.ivp-cards {
	pointer-events: none;
}

// When the card container is active enabled the pointer events,
// in IE we could check to see if the .ivp-cards class also has
// the class ivp-cards-enabled
.ivp-cards.ivp-cards-enabled {
	pointer-events: auto;
}
