// ==========================================================================
//
// Controls
//
//

// Default font for control UI
.ivp-controls {
	@extend %default-font;
	position: relative;
	width: 100%;
	height:	$control-height;
	color: $control-color;
	background: $control-background;
	font-size: 13px;
	z-index: $zindex-boost + 4;
}

// Disable all controls when the player is off
.ivp-player-off .ivp-controls {
	pointer-events: none;
}

// ==========================================================================
//
// Progress Bar
//
//

.ivp-control-progress {
	position: absolute;
	width: 100%;
	height: $progress-height;
	top: -$progress-height;
	opacity: $progress-opacity;
}

.ivp-control-progress .ivp-progress-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: $progress-background;
  transform: scale(1,1);
  transform-origin: 0 100%;
  transition: .25s transform ease-in;
}

// Progress complete bar
.ivp-control-progress .ivp-progress-time {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	// This is because of a visual preference to not have the
	// playhead escape on the left before playback. May need to
	// address this value.
	transform: translateX(.2%);
	background: $progress-complete-background;
}

// Progress playhead
.ivp-control-progress .ivp-progress-time:after {
	position: absolute;
	display: block;
	content: '';
	width: $progress-head-width;
	height: $progress-head-height;
	right: -($progress-head-width / 2);
	top: $progress-head-top;
	border-radius: 50%;
	border: 5px solid $progress-outer-dot-color;
	background-color: $progress-inner-dot-color;
	// important so that the playhead does not squish - looks much like flubber
	transition: transform .15s ease-in .1s, background .15s ease-in, box-shadow .15s ease-in;
	transform-origin: center center;
	box-shadow: 0px 0px 4px 1px rgba(137, 137, 137, 0.43);
}

// Progress Playhead Scrubbing or Hover
.ivp-control-progress.scrubbing .ivp-progress-time:after,
.ivp-control-progress:hover .ivp-progress-time:after {
	background-color: $progress-inner-dot-color--hover;
	border-color: $progress-outer-dot-color--hover;
	box-shadow: 0px 0px 1px 1px rgba(88, 89, 91, 0.5);
}

// Shrink the progress bar when not hovering
.ivp-player-inactive .ivp-control-progress .ivp-progress-bar {
	transform: scale(1,.3);
}
// Make the playhead disappear when not hovering the video
.ivp-player-inactive .ivp-control-progress .ivp-progress-time:after {
	transform: scale(0,0);
	transition: transform .25s ease-in, background .15s ease-in, box-shadow .15s ease-in;
}


// ==========================================================================
//
// Buttons
//
//

.ivp-controls .ivp-btn {
	line-height: 2.35;
	> div {
		height: 100%;
	}
}
// Control text spans for accessibility
.ivp-control-text {
	@extend %ir;
}

.ivp-control-value {
	user-select: none;
	pointer-events: none;
	cursor: default;
}

// ==========================================================================
//
// Time
//
//

// Time text acts like a button
.ivp-time-controls,
.ivp-time-divider {
	@extend %control-button;
	line-height: 2.45;
	> div {
		height: 100%;
	}
	// padding-top: 2px;
}

// Current time
.ivp-current-time {
	color: $control-color-hover;
}

// Experience duration
.ivp-duration {
	color: #939598
}

// Divider between current time and total duration
.ivp-time-divider {
	color: $time-divider-color;
	padding: 0 5px;
	user-select: none;
	pointer-events: none;
	cursor: default;
}

// Remaining time
.ivp-remaining-time {
	display: none;
}
