// Styles specific to .ivp-default-theme namespace
// These styles build upon the base settings to create a 'theme'


// ==========================================================================
//
// Poster and Endscreen for Default Theme
//
//

.ivp-default-theme {
  .ivp-poster {
    background-color: rgba(0,0,0,0.3);
    background-size: 100% auto;
  }
  .ivp-endscreen {
    background-color: rgba(0,0,0,0.3);
    background-size: 100% auto;
  }
}


// ==========================================================================
//
// Cards for Default Theme
//
//

.ivp-default-theme {

  .ivp-card h3 {
    font-size: 25px;
    font-weight: 300;
    word-spacing: -2px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .ivp-card p {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .ivp-card a {
    color: #fff;
  }
  .ivp-card .ivp-card-price {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 9px;
  }
  // outermost div
  .ivp-card-content {
    background: $ivp-card-background;
    color: $ivp-card-body-color;
  }


  // Card CTA buttons

  .ivp-card-cta {
    @extend %cta;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: 500;
  }
  // Primary Cta button inside card
  .ivp-card-cta--primary {
    background: $ivp-card-cta-primary-background;
    border-color: $ivp-card-cta-primary-background;
    padding-right: 8px;
    &:hover {
      background-color: #7fb248;
      border-color: #7fb248;
    }
  }
  // Secondary Cta button inside card
  .ivp-card-cta--secondary {
    background: $ivp-card-cta-secondary-background;
    border-color: $ivp-card-cta-secondary-background;
    &:hover {
      background-color: #939598;
      border-color: #939598;
    }
  }

  .ivp-card-enabled {
    visibility: visible !important;
  }

  // Moving medium card text
  .ivp-card--medium .ivp-card-text {
    transform: translateY(4%);
    transition: transform .25s;
  }
  .ivp-card-enabled .ivp-card--medium .ivp-card-text {
    transform: translateY(0%);
  }
  .ivp-card-enabled.ivp-card-removing .ivp-card--medium .ivp-card-text {
    transform: translateY(4%);
    transition: transform .25s;
  }


  .ivp-cards {
    background: none;
    transition: background .25s ease-in-out 0;
  }
  // Darken the container when the card is active
  .ivp-cards-enabled {
    background: rgba(0,0,0,0.4);
  }


}


// ==========================================================================
//
// Every Card for Default Theme
//
//

.ivp-default-theme .ivp-card {

  .ivp-btn--close {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    top: 4px;
    right: 6px;
    color: #a7a9ac;
    &:hover {
      color: #58595b;
    }
  }
  .ivp-card-cta--primary {
    &:after {
      text-transform: none !important;
      font-family: 'controls';
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content:'\0061';
      color: #fff;
      margin-left: 5px;
      padding-top: 3px;
      display: block;
      float: right;
    }
  }
  .ivp-card-cta--secondary {
    // background-image: url($ivp-card-cta-arrow);
    background-position: center right;
    background-repeat: no-repeat;
    color: #fff;

  }
}


// ==========================================================================
//
// Large Card for Default Theme
//
//

.ivp-default-theme .ivp-card--large {
  width: 560px;
  height: 440px;
  h3 {
    margin: 28px 0 0 0;
  }
  p {
    font-size: 12.25px;
    line-height: 1.45;
    margin: 0 0 10px 0;
  }
  p:first-of-type {
    margin-top: 14px;
  }
  .ivp-card-ctas {
    margin-top: 14px;
  }
  .ivp-card-cta {
    display: table;
    // margin-bottom: 12px;
  }
  .ivp-btn--close {
    color: #a7a9ac;
    &:hover {
      color: #fff;
    }
  }
}


// ==========================================================================
//
// Medium Card for Default Theme
//
//

.ivp-default-theme .ivp-card--medium {
  // right: 0;
  width: 320px;
  height: 440px;
  background: $ivp-card-background;
  h3 {
    margin: 16px 0 0;
  }
  p {
    font-size: 12.25px;
    line-height:1.45;
    margin: 12px 0 0;
  }
  .ivp-card-ctas {
    margin-top: 14px;
  }
  .ivp-card-cta:first-of-type {
    margin-right: 10px;
  }
  .ivp-btn--close {
    color: #a7a9ac;
    &:hover {
      color: #58595b;
    }
  }
}

// @media only screen and (max-width: 768px) {
//   .ivp-default-theme .ivp-card--medium {
//     height: 80%;
//     width: 30%;
//   }
//   .ivp-default-theme .ivp-card--medium .ivp-card-content {
//     transform: scale(0.8)
//   }
// }

// ==========================================================================
//
// Small Card for Default Theme
//
//

.ivp-default-theme .ivp-card--small {}


// ==========================================================================
//
// HotSpots for Default Theme
//
//

.ivp-default-theme {
  .ivp-hotspot {
    color: $ivp-hotspot-text-color;
  	background: $ivp-hotspot-background;
    padding: 0 0 0 ($ivp-hotspot-icon-size / 2);
    border-radius: 2px;
  }

  .ivp-hotspot-title {
    font-size: 13.5px;
    // This math would be much better without the 1px left pad.
    // Visually I think it looks more centered across hotspots
    // of various lengths.
    padding: 9px 15px 9px 2px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .ivp-hotspot-icon {
    transform: translateY(0);
  	position: absolute;
  	display: block;
  	top: -($ivp-hotspot-icon-size / 2);
  	left: -($ivp-hotspot-icon-size / 2);
  	height: $ivp-hotspot-icon-size;
  	width: $ivp-hotspot-icon-size;
    &:before {
      content: ' ';
      position: absolute;
      background: $ivp-hotspot-background;
      height: ($ivp-hotspot-icon-size / 2);
      width: ($ivp-hotspot-icon-size / 2);
      transform: translateY(50%) translateX(50%);
    }
    &:after {
      position: absolute;
      font-family: 'controls';
      font-size: $ivp-hotspot-icon-size;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: $ivp-hotspot-icon-image;
      color: $ivp-hotspot-icon-color;
      // Could also be 0px 2px 6px 1px
      box-shadow: 0px 2px 5px 0px rgba(137, 137, 137, 0.43);
      border-radius: 50%;
    }
  }
  // Hide the close button
  .ivp-hotspot .ivp-btn--close {
    @extend %hide;
  }

}


















.ivp-hotspot--notify {
	overflow: hidden;
	height: 0;
	//margin-bottom: 15px;
}

.ivp-default-theme {

.ivp-hotspot-container--notify {
  width: 300px;
  right: 5px;
  top: 2.5%;
}

.ivp-hotspot--notify {
  cursor: default;
  background: none;
  width: 100%;
	padding: 0;
  //position: relative;
  overflow: hidden;
  height: 65px;
  transform-origin: top center;
}

.ivp-notification-inside {
  cursor: pointer;
  background: $ivp-hotspot-background;
  height: 55px;
  overflow: hidden;
  margin: 5px 0;
  border-radius: 2px;
  &:hover {
    background: #353537;

    .ivp-notification-learn-more p,
    .ivp-notification-learn-more p:after {
      color: $ivp-card-cta-primary-background;
    }


  }
}


.ivp-hotspot--notify .ivp-notification-image {
	width: 25%;
	float:left;
  margin-right: 10px;
}

.ivp-hotspot--notify .ivp-notification-text {
  margin: 5px 0;
	> h3 {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
    font-size: 20px;
      word-spacing: -1px;
      font-weight: 300;
	}

}

}


.ivp-notification-learn-more p {
  margin: 0;
  font-size: .4rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  &:after {
    text-transform: none !important;
    font-family: 'controls';
    font-size: 7px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:'\0061';
    color: #fff;
    margin-left: 3px;


  }
}
