// ==========================================================================
//
// Fonts
//
//

@font-face {
  font-family: 'controls';
  src: url('#{$ivp-base-asset-URL}/controls.eot');
  src: url('#{$ivp-base-asset-URL}/controls.eot?#iefix') format('embedded-opentype'),
    url('#{$ivp-base-asset-URL}/controls.woff') format('woff'),
    url('#{$ivp-base-asset-URL}/controls.ttf') format('truetype'),
    url('#{$ivp-base-asset-URL}/controls.svg?#controls') format('svg');
  font-weight: normal;
  font-style: normal;
}
