// Ivp grid system

$gutter-width: 20px;

.ivp-container {
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  margin-right: auto;
  margin-left: auto;
}

.ivp-row {
  margin-right: -$gutter-width;
  margin-left: -$gutter-width;
}

.ivp-container:before,
.ivp-row:before,
.ivp-container:after,
.ivp-row:after {
  display: table;
  content: " ";
}

.ivp-container:after,
.ivp-row:after {
  clear: both;
}

[class*='ivp-col-'] {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

@for $i from 1 through 12 {
  .ivp-col-#{$i} {
    width: 100% / 12 * $i;
  }
}

@for $i from 1 through 12 {
  .ivp-col-pull-#{$i} {
    right: 100% / 12 * $i;
  }
}

// this needs a little thought obvs
.ivp-col-pull-gutter {
  padding-left: 0;
}

.ivp-col-pull-gutters {
  padding-left: 0;
  padding-right: 0;
}
