// ==========================================================================
//
// Hotspots
//
//

.ivp-hotspots {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	// this z-index places hotspots and the card container equal to each other
	z-index: $zindex-boost + 2;
	pointer-events: none;
}

// container classes are user-defined via the config Object
[class*="ivp-hotspot-container--"] {
	position: absolute;
	width: 100%;
	height: 100%;
}

// All hotspots
.ivp-hotspot {
	cursor: pointer;
	display: block;
	visibility: hidden;
}

// Enable click events on a single hotspot or single card
.ivp-hotspot {
	pointer-events: auto;
}

.ivp-hotspot--firefly {
	position: absolute;
	width: auto;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
