// ==========================================================================
//
// Global Mixins
//
//

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}

%ir {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
// this might not be good
%hide {
	height: 0;
	width: 0;
	overflow: hidden;
}

%visually-hidden {
	visibility: hidden;
	display: none;
}

%vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

%control-button {
	float: left;
	height: $control-button-height;
	margin: 0;
	padding: 0;
	outline: none;
	user-select: none;
	text-align: center;
	// > div {
	//	pointer-events: none;
	//	@extend %vertical-align;
	//}
	//> span {
	//	pointer-events: none;
	//}
}

%default-font {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.15;
	color: inherit;
}



%cta {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}
