// ==========================================================================
//
// Inplayer Video setup
//
//

.ivp-widget {
	position: relative;
	font-family: $ivp-font-family;
	overflow: hidden;
}

.ivp-playback {
	position: relative;
	user-select: none;
	background: rgb(163, 163, 163);
}

// Responsive InPlayer
// These rules are scoped to ivp-video
// so they DO NOT affect regular inplayer
.ivp-video {
	position: relative;
	object.invodo-swf {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
	}
	div[id*="InvodoInPlayer_"] {
		float: none !important;
		display: block !important;
		position: static !important;
		width: inherit !important;
		height: inherit !important;
	}
}

.ivp-video video {
	width: 100%;
}

// this idea turns click handling off for the top level containers
// we want that click event to get to .ivp-playback asap so we can
// playtoggle the video on tap or click.
.ivp-video {
	pointer-events: none;
}
