// ==========================================================================
//
// Posters
//
//

.ivp-poster,
.ivp-endscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.ivp-poster {
  z-index: $zindex-boost + 5;
}

.ivp-endscreen {
  z-index: $zindex-boost + 4;
}

.ivp-screen {
  position: relative;
  height: 100%;
  width: 100%;
}
