
// Ivp.js outputs this class to hide elements
.ivp-hide {
  @extend %visually-hidden;
  // This may be excessive
  * {
    @extend %ir;
  }
}

// Control Buttons
.ivp-btn {
  font-family: 'controls';
  font-size: 14px;
	line-height: 1.7;
  font-weight: normal;
  cursor: pointer;
  speak: none;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	&:hover {
		color: $control-color-hover;
	}
}

// Span element is used here for accessibility
.ivp-btn span {
	@extend %ir;
}

// .icon-icn-share:before{content:'\0045';}
// .icon-icn-facebook:before{content:'\0046';}
// .icon-icn-pinterest:before{content:'\0047';}
// .icon-icn-twitter:before{content:'\0048';}
// .icon-Icon_btn_arrow:before{content:'\0061';}
// .icon-icn-close:before{content:'\0063';}
// .icon-icn-email:before{content:'\0065';}
// .icon-icn-cog:before{content:'\0067';}
// .icon-icn-hotspot:before{content:'\0068';}
// .icon-icn-menu:before{content:'\006D';}
// .icon-icn-play-circle:before{content:'\006F';}
// .icon-icn-play:before{content:'\0070';}
// .icon-icn-star:before{content:'\0072';}
// .icon-icn-pause:before{content:'\0073';}
// .icon-icn-cc:before{content:'\0031';}
// .icon-icn-close-fullscreen:before{content:'\0032';}
// .icon-icn-fullscreen:before{content:'\0033';}
// .icon-icn-mute:before{content:'\0034';}
// .icon-icn-volume:before{content:'\0035';}
// .icon-icn-volume_low:before{content:'\0036';}
// .icon-icn-volume-high:before{content:'\0037';}
//

// Play button
.ivp-btn--play {
  @extend %control-button;
	width: 5.5%;
	margin-right: 0.5%;
}
.ivp-btn--play div:before {
  content:'\0070';
}

// The video is playing show the pause button
.ivp-btn--playing > div:before {
  content:'\0073';
}
// The video is paused show the play button
// .ivp-btn--paused > div:before {
//   content: "\f10c";
// }
// The video is scrubbing show the pause button
.ivp-btn--scrubbing > div:before {
  content:'\0073';
}




// x button
// content: "\f102"



// Big play button
.ivp-btn--big-play {
  @extend %vertical-align;
  width: 100%;
  font-size: 6em;
  color: #fff;
  border-radius: 50px;
  &:focus {
    outline: none
  }
  > div {
    cursor: pointer;
    text-align: center;
	}
}
.ivp-btn--big-play > div:before {
  content:'\006F';
}


// Mute button
.ivp-btn--mute {
  @extend %control-button;
	width: 5.5%;
	float: right;
}
.ivp-btn--mute > div:before {
  content:'\0037';
}
.ivp-btn--mute-muted > div:before {
  content:'\0035';
}


// Replay button
.ivp-btn--replay {
	width: 8%;
	display: none; // not sure what to do about replay yet
}


.ivp-btn--close {
}
.ivp-btn--close > div:before {
  content:'\0063';
}

.ivp-btn--stop {
  display: none;
}

// .ivp-btn--close {
// 	@extend %ir;
// 	position: absolute;
// 	top: 4px;
// 	right: 4px;
// 	width: 10px;
// 	height: 10px;
//
// 	cursor: pointer;
// 	opacity: .5;
// 	background: {
// 		image: url($ivp-card-close-image);
// 		position: 0 0;
// 		repeat: no-repeat;
// 		size: 100% auto;
// 	}
// 	&:hover {
// 		opacity: 1.0
// 	}
// }
